{% if text and env_bookshop_live %}
    <div class="c-textBlock">    
        {{ text | markdownify  }}
    </div>
{% elsif text %}
<div class="c-textBlock">    
        {{ text | evalLiquid | markdownify  }}
    </div>
{% endif %}