{% assign imageCounter = 0 %}
{% assign classesIndex = 0 %}


<div class="c-imageGrid">
    <div class="flex flex-col gap-1">
    {% for imageSet in imageSets %}
        <div class="grid grid-cols-[repeat(2,minmax(0px,320px))] grid-rows-[repeat(2,minmax(0px,320px))] grid-flow-dense  gap-1 auto-rows-[minmax(0px,320px)]  ">
            {% for image in imageSet.images limit:setLimit %}
                {% assign imageId = "a" | uuidFilter %}
                {% assign imageCounter = imageCounter | plus: 1 %}
                {% assign imageClass = imageClasses[imageCounter] %}
                {% bookshop "generic/imageModal" image: image classes:imageClass id:imageId %}
                {% if imageCounter == patternLimit %}
                    {% assign imageCounter = 0 %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>