{% assign color_group = styles.color_group %}


<section  class='cs-w-full py-20 bg-{{styles.color_group}}-backgroundcolor flex flex-col items-center justify-center text-{{styles.color_group}}-textcolor'>

  {% if content.sectionId %}
    {% bookshop "util/IdScrollEvent" sectionId: content.sectionId %}
  {% endif %}

{% if content.heading or content.text %}
    <div class='basecontainer flex flex-col justify-center items-center w-full max-w-[750px]'>
      {% if content.heading %} {% bookshop {{content.heading._bookshop_name}} bind: content.heading %} {% endif %}
        <div class="c-simpleTextBlock">{% if content.text %}{% bookshop "generic/textBlock" bind:content.text %}{% endif %}</div>
    </div>
{% endif %}
</section>
