<p>{{pagination.href.previous}}</p>
{% if pagination.href.next or pagination.href.previous %}
<footer>
  <nav class="">
    {% if pagination.href.previous %}
    <a class="text" href="{{ pagination.href.previous }}{{ paginationNumber }}"
      >{{ paginationPrevText if paginationPrevText else 'Previous'}}previous</a
    >
    {% endif %} {% if pagination.href.next %}
    <a class="" href="{{ pagination.href.next }}{{ paginationAnchor }}">
      {{ paginationNextText if paginationNextText else 'Next' }}next
    </a>
    {% endif %}
  </nav>
</footer>
{% endif %}
