{% assign level=level | plus: 1%}

{% capture display %}
{% if level <= 0%}
md:absolute md:left-0
{% else  %}
  md:absolute md:left-full md:top-1/2
    {% endif %}
 {% endcapture %}
 {% capture displayMega %}
{% if level <= 0%}
md:absolute md:left-0
{% else  %}
  md:absolute md:left-full md:top-1/2
    {% endif %}
 {% endcapture %}

 {%assign hex = 'text-{{color_group}}-textcolor'%}


{% if entry.url == "/blog/" %} {% if
blogPosts.size > 0 %}
 
<li>
  
  <a 
  data-umami-event="{{entry.title}}-navbar"
  {{entry.url | linkFilter: page.url}}
    class="data-[state=active]:link data-[state=active]:decoration-{{color_group}}-accentcolor  block rounded py-2 pl-3 pr-4   transition-colors   md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent"
    href="{{ entry.url }}"
    >{{ entry.title }}</a
  >
</li>
{% endif %} {% elsif entry.links.size == nil  %}
<li>
  <a 
  data-umami-event="{{entry.title}}-navbar"
  {{entry.url | linkFilter: page.url}}
    class="data-[state=active]:link data-[state=active]:decoration-{{color_group}}-accentcolor font-normal underline md:no-underline  block rounded py-2 pl-3 pr-4 md:w-max   transition-colors   md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent"
    href="{{ entry.url }}"
    >{{ entry.title }}</a
  >
</li>
{% endif %} 
{% if entry.links.size > 0 and parentType == "mega"%}



 {%assign navUUID = "a" | uuidFilter%}

<div class=" ">
  <div class="flex items-center">
    <li>
      <button
      data-umami-event="{{entry.title}}-navbar"
      {{entry.url | linkFilter: page.url}}
        class="data-[state=active]:link data-[state=active]:decoration-{{color_group}}-accentcolor block rounded pt-2 pl-3 pr-4 font-bold md:font-normal    transition-colors   md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent"
       _="
      set element opened to false
      set element submenu to #{{ entry.title | append: navUUID | slugify }}
      on click
    
      if opened then
      js(submenu)
        submenu.classList.remove('md:scale-y-100');
        submenu.classList.add('md:invisible');
      end then set opened to false else
      js(submenu)
        submenu.classList.add('md:scale-y-100');
        submenu.classList.remove('md:invisible');
      end then set opened to true end
      halt
      on click from elsewhere
      if opened then
      js(submenu)
      submenu.classList.remove('md:scale-y-100');
      submenu.classList.add('md:invisible');
      end then set opened to false
      " 
        >{{ entry.title }}</button
      >
    </li>
    <summary class=" left-[87%] "><button class="hover:border-b-2 hidden md:block data-[state=active]:link hover:text-sopris-green rounded py-2 pl-3 pr-4   transition-colors   md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent"
      _="
      set element opened to false
      set element submenu to #{{ entry.title | append: navUUID | slugify }}
      on click
    
      if opened then
      js(submenu)
        submenu.classList.remove('md:scale-y-100');
        submenu.classList.add('md:invisible');
      end then set opened to false else
      js(submenu)
        submenu.classList.add('md:scale-y-100');
        submenu.classList.remove('md:invisible');
      end then set opened to true end
      halt
      on click from elsewhere
      if opened then
      js(submenu)
      submenu.classList.remove('md:scale-y-100');
      submenu.classList.add('md:invisible');
      end then set opened to false
      "
    
      ><div class="w-full flex items-center justify-center">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="stroke-{{color_group}}-textcolor hidden md:inline-block " d="M4 7L10 13L16 7" stroke="white" stroke-width="2"/>
          </svg>
      </div>
        </button></summary>
  </div>
  <div
  id="{{ entry.title | append: navUUID | slugify }}"
  class="transition-all  {{ themeRounding }} md:duration-300 origin-top md:invisible md:scale-y-0 md:absolute md:left-0 md:right-0 md:top-full w-full flex flex-col items-center justify-center md:bg-{{color_group}}-backgroundcolor md:bg-opacity-95 z-10"
  role="menu"
  aria-orientation="vertical"
  aria-labelledby="options-menu"
>
{% assign topLevelLinks = "" %}
{% assign groupedLinks = "" %}

  <ul class=" basecontainer w-full  mx-auto md:max-h-[50vh] md:overflow-y-scroll md:gap-6 md:pt-4 ml-4 pl-0 pr-4 md:px-8 pb-4 flex flex-row justify-between flex-wrap md:border-none border-l-2 border-{{color_group}}-textcolor">
{% for subEntry in entry.links %}
  {% if subEntry.links.size > 0 %}
    {% capture topLevelLinks %}
      {{ topLevelLinks }}
      {% render "partials/render-nav.html",
        entry:subEntry,
        color_group: color_group,
        level: level,
        blogPosts: blogPosts,
        page: page,
        parentType: "megaSub" %}
    {% endcapture %}
  {% else %}
    {% capture groupedLinks %}
      {{ groupedLinks }}
      <li>
        <a 
        data-umami-event="{{subEntry.title}}-navbar"
        {{subEntry.url | linkFilter: page.url}}
          class="data-[state=active]:link data-[state=active]:decoration-{{color_group}}-accentcolor block font-normal underline md:no-underline  rounded py-2 pl-3 pr-4 md:w-max   transition-colors   md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent"
          href="{{ subEntry.url }}"
          >{{ subEntry.title }}</a
        >
      </li>
    {% endcapture %}
  {% endif %}
{% endfor %}

{{ topLevelLinks }}
    <li class="data-[state=active]:link data-[state=active]:decoration-{{color_group}}-accentcolor w-max block rounded mt-2 py-2 pl-3 pr-4   transition-colors font-bold  md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent" >
    Links 
  
  <ul id="{{ entry.title | append: navUUID | slugify }}" class="    transition-all md:duration-300 origin-top   ml-3  md:ml-0 md:p-2 md:pr-6  md:z-10  w-max   border-l-2 border-{{color_group}}-textcolor md:bg-{{color_group}}-backgroundcolor bg-opacity-70  focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
    {{ groupedLinks }}
  </ul>
  </ul>
  </li>
</div>
</div>

  

{% endif %}

{% if entry.links.size > 0 and  parentType == "megaSub"%}
    <li class="data-[state=active]:link data-[state=active]:decoration-{{color_group}}-accentcolor w-max block rounded mt-2 py-2 pl-3 pr-4 font-bold  transition-colors   md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent" >
    {{ entry.title }}
  
  <ul id="{{ entry.title | append: navUUID | slugify }}" class="    transition-all md:duration-300 origin-top   ml-3  md:ml-0 md:p-2 md:pr-6  md:z-10  w-max   border-l-2 border-{{color_group}}-textcolor md:bg-{{color_group}}-backgroundcolor bg-opacity-70  focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
    {% for child in entry.links %} 
   {% if child._menuType == "group"%}
   {% assign parentType ="megaSub" %}
   {% else %}
   {% assign parentType = child._menuType %}
   {% endif%} 
    {% render "partials/render-nav.html",
    entry:child, color_group: color_group, level: level, blogPosts: blogPosts, page:page, parentType: parentType %} {% endfor %}
  </ul>
  </li>


{% endif %}

{% if entry.links.size > 0 and parentType == "group"%}
 {%assign navUUID = "a" | uuidFilter%}
<div class="relative ">
  <div class="flex items-center">
    <li>
      <button
      data-umami-event="{{entry.title}}-navbar"
      {{entry.url | linkFilter: page.url}}
        class="data-[state=active]:link data-[state=active]:decoration-{{color_group}}-accentcolor block rounded py-2 pl-3 pr-4 font-bold md:font-normal    transition-colors   md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent"
       _="
      set element opened to false
      set element submenu to #{{ entry.title | append: navUUID | slugify }}
      on click
    
      if opened then
      js(submenu)
        submenu.classList.remove('md:scale-y-100');
        submenu.classList.add('md:invisible');
      end then set opened to false else
      js(submenu)
        submenu.classList.add('md:scale-y-100');
        submenu.classList.remove('md:invisible');
      end then set opened to true end
      halt
      on click from elsewhere
      if opened then
      js(submenu)
      submenu.classList.remove('md:scale-y-100');
      submenu.classList.add('md:invisible');
      end then set opened to false
      " 
        >{{ entry.title }}</button
      >
    </li>
    <summary class="absolute left-[87%] "><button class="hover:border-b-2 hidden md:block w-12 h-10 data-[state=active]:link hover:text-sopris-green rounded py-2 pl-3 pr-4   transition-colors   md:p-0 md:hover:bg-transparent md:dark:hover:bg-transparent"
      _="
      set element opened to false
      set element submenu to #{{ entry.title | append: navUUID | slugify }}
      on click
    
      if opened then
      js(submenu)
        submenu.classList.remove('md:scale-y-100');
        submenu.classList.add('md:invisible');
      end then set opened to false else
      js(submenu)
        submenu.classList.add('md:scale-y-100');
        submenu.classList.remove('md:invisible');
      end then set opened to true end
      halt
      on click from elsewhere
      if opened then
      js(submenu)
      submenu.classList.remove('md:scale-y-100');
      submenu.classList.add('md:invisible');
      end then set opened to false
      "
    
      ><div class="w-full flex items-center justify-center">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="stroke-{{color_group}}-textcolor hidden md:inline-block " d="M4 7L10 13L16 7" stroke="white" stroke-width="2"/>
          </svg>
      </div>
        </button></summary>
  </div>
  <ul id="{{ entry.title | append: navUUID | slugify }}" class="{{display}}    transition-all md:duration-300 origin-top md:invisible   md:scale-y-0  ml-5   md:ml-0 md:p-2 md:pr-6  md:z-10 mt-0 md:mt-2 w-max    border-l-2 border-{{color_group}}-textcolor md:bg-{{color_group}}-backgroundcolor bg-opacity-70  focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
    {% for child in entry.links %} {% render "partials/render-nav.html",
    entry:child, color_group: color_group, level: level, blogPosts: blogPosts, page:page, parentType: child._menuType %} {% endfor %}
  </ul>
</div>

  

{% endif %}
